*{
  font-family: 'Poppins', sans-serif;
}
html, body {height: 100%;
  scroll-behavior: smooth;
}
.navbar{
  background-color: white !important;
  height:100px;
  font-weight:bold;
}
.main-logo{
  height:65px;
  width:130px;
}
