*{
  font-family: 'Poppins', sans-serif;
}
html, body {height: 100%;
  scroll-behavior: smooth;
}
.navbar{
  background-color: white !important;
  height:100px;
  font-weight:bold;
}
.main-logo{
  height:65px;
  width:130px;
}
.firstbutton{
  margin-left:729px;
  background-color: #FFC222;
  transition: background-color 0.75s ease;
}
.firstbutton:hover{
  background-color:#515356;
}
.secondbutton{
  background-color: #C88A12;
  transition: background-color 0.75s ease;
}
.secondbutton:hover{
  background-color:#515356;
}
.thirdbutton{
  background-color:#515356;
}
.nav-item{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}
.hero-text{
  color: white;
  padding-top: 30px;

}
.one{
  background-image: url("2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    height:400px;
    width: 100%;
}
.two{
  background-image: url("hero2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    height:400px;
    width: 100%;
}
.three{
  background-image: url("3.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    height:400px;
    width: 100%;
}
