*{
  font-family: 'Poppins', sans-serif;
}


html, body {
  height: 100%;
}

.navbar{
  background-color: white !important;
  height:100px;
  font-weight:bold;
}

.main-logo{
  border-radius: 0 !important;
  height:65px;
  width:130px;
}

.firstbutton{
  margin-left:729px;
  background-color: #FFC222;
  transition: background-color 0.75s ease;
}

.firstbutton:hover{
  background-color:#515356;
}

.secondbutton{
  background-color: #C88A12;
  transition: background-color 0.75s ease;
}

.secondbutton:hover{
  background-color:#515356;
}

.thirdbutton{
  background-color:#515356;
}
